*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.container {
 max-width: 1200px;
 margin: 0 auto;
 border: 1px dashed #ccc;
 margin-top: 30px;
 padding: 40px;
}

.btn {
 padding: 7px 16px;
 border: 1px solid transparent;
 border-radius: 4px;
 cursor: pointer;
 display: inline-block;
 text-align: center;
}
.btn-primary {
 background-color: blue;
 color: #fff;
}
.btn-primary:hover {
 background-color: rgb(0, 0, 168);
}
.btn-primary::before{
 content: "↓";
}
.btn-primary::after{
 content: "↑";
}

.btn-secondary {
 background-color: gray;
 color: #fff;
}
.btn-success {
 background-color: green;
 color: #fff;
}
.btn-danger {
 background-color: red;
 color: #fff;
}
.btn-warning {
 background-color: yellow;
 color: #000;
}